* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* inicio do menu */

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background: white;
}

.header h3 {
  color: black;
}

strong {
  color: red;
}

a {
  color: gray;
  font-family: 'manrope', sans-serif;
  transition: all 0.3s ease;
}

a:hover {
  background-color: red;
  padding: 10px 30px;
  border-radius: 9px;
  color: white;
}

.active {
  background-color: red;
  border-radius: 9px;
  padding: 10px 30px;
  color: white;
}

h3 {
  color: grey;
  font-size: 30px;
  font-family: 'manrope', sans-serif;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 7px;
}

.menu li a {
  display: block;
  padding: 10px;
}
/* fim do menu */

html {
  scroll-behavior: smooth;
}

/*Início do banner1 */

#banner1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(../assets/img2/banner1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#banner1 .text h1 {
  font-size: 60px;
  font-family: 'manrope', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

#banner1 .text p {
  font-size: 30px;
  font-family: 'manrope', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
}

#banner1 .text button {
  padding: 20px 150px;
  font-family: 'manrope', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 9px;
  font-size: 20px;
  transition: all 0.3s ease;
}

@media (max-width: 900px) {
  #banner1 {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(../assets/img2/banner1.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  #banner1 .text {
    margin-top: 110px;
    background-color: ;
  }
  #banner1 .text h1 {
    font-size: 50px;
    font-family: 'manrope', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
  }

  #banner1 .text p {
    font-size: 20px;
    font-family: 'manrope', sans-serif;
    font-weight: bold;
    color: white;
  }

  #banner1 .text button {
    padding: 20px 150px;
    font-family: 'manrope', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 9px;
    font-size: 20px;
    transition: all 0.3s ease;
  }
}

/* fim do banner */

/*Início do about us */

#about {
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#about h1 {
  margin-bottom: 30px;
  font-family: 'manrope', sans-serif;
  font-size: 40px;
  border-bottom: 8px solid red;
}

.grid1 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.grid1 .card-img {
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.card-img img {
  width: 100%;
}

.card-img h2 {
  font-size: 30px;
  font-family: 'manrope', sans-serif;
  color: rgb(68, 63, 63);
}

.card-img p {
  font-size: 20px;
  font-family: 'manrope', sans-serif;
  line-height: 30px;
  color: rgb(68, 63, 63);
  margin-top: 60px;
  width: 629px;
}

.card-img button {
  padding: 20px 120px;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 9px;
  outline: none;
  margin-top: 60px;
}

@media (max-width: 900px) {
  #about {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  #about h1 {
    margin-bottom: 30px;
    font-family: 'manrope', sans-serif;
    font-size: 40px;
    border-bottom: 8px solid blue;
  }

  .grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .grid1 .card-img {
    height: 120px;
    width: 300px;
    object-fit: cover;
  }

  .card-img img {
    width: 100%;
  }

  .card-img h2 {
    margin-top: 30px;
    font-size: 30px;
    font-family: 'manrope', sans-serif;
    color: rgb(68, 63, 63);
  }

  .card-img p {
    font-size: 20px;
    font-family: 'manrope', sans-serif;
    line-height: 30px;
    color: rgb(68, 63, 63);
    margin-bottom: 30px;
    width: 300px;
  }

  .card-img button {
    padding: 20px 120px;
    border: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 9px;
    outline: none;
    margin-bottom: 30px;
  }
}
/* fim do about us */

/* Início do nossa missão */
#mission {
  /* margin-top: -220px; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#mission h1 {
  margin-top: -220px;
  font-size: 50px;
  margin: 30px;
  font-family: 'marope', sans-serif;
}

.grid2 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.grid2 .card-img2 {
  height: 350px;
  width: 300px;
  object-fit: cover;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}

.card-img2 img {
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 900px) {
  #mission {
    margin-top: 110px;
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  #mission h1 {
    font-size: 50px;
    margin: 30px;
    font-family: 'marope', sans-serif;
  }

  .grid2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  .grid2 .card-img2 {
    height: 350px;
    width: 300px;
    object-fit: cover;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 15px;
    align-items: center;
    text-align: center;
  }

  .card-img2 img {
    margin-top: 30px;
    width: 100%;
  }
}
/* Fim do nossa missão */

/* inicio do budget */
.inner-page {
  margin-top: 190px;
  background-color: red;
}

.box {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box h1 {
  margin: 50px;
  font-size: 40px;
  font-family: 'manrope', sans-serif;
}

::placeholder {
  text-align: center;
}

input {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px 293px;
  border: none;
  border-radius: 10px;
}

button {
  margin-top: 30px;
  padding: 30px 190px;
  background: grey;
  border-radius: 29px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #3565ba;
}

#root {
  border: 1px solid orange;
  padding: 54px auto;
  margin: 13px 30px;
  color: white;
  font-weight: bold;
}

span {
  color: white;
}

.inner-page h1 {
  color: white;
}

@media (max-width: 900px) {
  .inner-page {
    margin-top: -190px;
    background-color: red;
  }
  input {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 100px;
    border: none;
    border-radius: 10px;
  }
}

/* fim do budget */
